body {
  margin: 0;
  min-width: 250px;
}
* {
  box-sizing: border-box;
}
.myTodolist{
  max-width: 1020px;
  margin: 0 auto;
}
h2{
  margin:5px;
}
.show_hide{
  width: 100px;
  padding: 10px;
  background-color: #C1FFC1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}
.myInput {
  margin: 0;
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.add {
  padding: 10px;
  width: 25%;
  background: #C1FFC1;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.show_hide:hover, 
.add:hover {
  background-color: lightgreen;
}
.todoList {
  margin: 0;
  padding: 0;
}
.todoList li {
  min-height: 46px;
  cursor: pointer;
  position: relative;
  padding: 13px 120px 13px 13px;
  list-style-type: none;
  background: #F0FFFF ;
  font-size: 20px;
  transition: 0.2s;
  white-space: wrap;
}
.todoList li:nth-child(odd) {
  background: #C1FFC1;
}
.todoList li:hover {
  background: #98FB98;
}
.todoList li.checked {
  background: #90EE90;
  color: #fff;
  text-decoration: line-through;
}
.close,
.do {
  position: absolute;
  width: 40px;
  text-align: center;
  border: 2px solid white;
  right: 0;
  top: 0;
  padding: 7px;
  margin:  5px 5px 10px 5px;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
}
.do::before {
  content: "\2713";
}
.close::before {
  content: "X";
}
.do {
  right: 45px;
  padding: 6px;
  margin-right: 10px;
} 
.close:hover, 
.do:hover {
  background-color: forestgreen;
  color: white;
}
.header {
  background-color: forestgreen;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.hide .checked {
  display: none;
}


