<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TodoList</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="myTodolist example1">
            <div class="header">
                <button  class="show_hide">hide</button>
                <h2>My To Do List</h2>
                <input type="text" class="myInput"  placeholder="Write something...">
                <button  class="add">Add</button>
            </div>
            <ul class="todoList"></ul>
            <script type="text/template" class="tmpl">
                <li>
                    <%-valueTask%>
                    <button class="do"></button>
                    <button class="close"></button>
                </li>
            </script>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
        <script src="js/ex30.js"></script>
    </body>
</html>
